.checkVar {
  background-color: var(--dana-var);
}

.h1Normal {
  font: var(--h1Normal);
}

.h1Light {
  font: var(--h1Light);
}
.h1Bold {
  font: var(--h1Bold);
}

.h2Normal {
  font: var(--h2Normal);
}

.h2Light {
  font: var(--h2Light);
}
.h2Bold {
  font: var(--h2Bold);
}

.pNormal {
  font: var(--pNormal);
}

.pLight {
  font: var(--pLight);
}
.pBold {
  font: var(--pBold);
}

.smallNormal {
  font: var(--smallNormal);
}

.smallLight {
  font: var(--smallLight);
}
.smallBold {
  font: var(--smallBold);
}

.b10 {
  background-color: var(--b10);
}

.b20 {
  background-color: var(--b20);
}

.b30 {
  background-color: var(--b30);
}
.b40 {
  background-color: var(--b40);
}

.d10 {
  background: var(--d10);
}
.d12 {
  background-color: var(--d20);
}
.d30 {
  background-color: var(--d30);
}
.d40 {
  background-color: var(--d40);
}
.w10 {
  background-color: var(--w10);
}
.w20 {
  background-color: var(--w20);
}
.w30 {
  background-color: var(--w30);
}
.w40 {
  background-color: var(--w40);
}
.w50 {
  background-color: var(--w50);
}
.e10 {
  background-color: var(--e10);
}
.e20 {
  background-color: var(--e20);
}
.e30 {
  background-color: var(--e30);
}
.e40 {
  background-color: var(--e40);
}
.e50 {
  background-color: var(--e50);
}
.s10 {
  background-color: var(--s10);
}
.s20 {
  background-color: var(--s20);
}
.s30 {
  background-color: var(--s30);
}
.s40 {
  background-color: var(--s40);
}
.s50 {
  background-color: var(--s50);
}
.spacing2 {
  padding: var(--spacing2);
}

.spacing4 {
  padding: var(--spacing4);
}
.spacing6 {
  margin: var(--spacing6);
}

.spacing8 {
  margin: var(--spacing8);
}

.spacing12 {
  margin: var(--spacing12);
}
.spacing16 {
  margin: var(--spacing16);
}

.spacing24 {
  margin: var(--spacing24);
}
.spacing32 {
  margin: var(--spacing32);
}
.spacing40 {
  margin: var(--spacing40);
}
